<h1><u>Welcome to the Index page.</u></h1>
<h3> A list of available options: </h3>
<strong><%= link_to("Right Widget",{:controller =>'rightwidgets' , :action => 'index'}) %><br>
<%= link_to("Events",{:controller =>'events' , :action => 'index'}) %><br>
<%= link_to("Navigation",{:controller =>'navigations' , :action => 'index'}) %><br>
<%= link_to("Blog",{:controller =>'blogs' , :action => 'index'}) %><br>

</strong>